.main{
  height:50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  padding:8px;
  width:220px;
  margin: 5px;
}
button{
  padding:6px;
  border:none;
  margin:5px;
  background: lightseagreen;
  font-weight: 600;
  width:100px;
}